.password-view {
  background: unset;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: -30px;
  transition: opacity var(--transition-duration, .5s);
}

.password-view:hover {
  opacity: var(--opacity-value, .8);
  transition: opacity var(--transition-duration, .5s);
}

.password-view:focus {
  outline: none;
}